atomicwrites==1.4.0
attrs==20.2.0
Automat==20.2.0
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
constantly==15.1.0
cycler==0.10.0
docopt==0.6.2
hyperlink==20.0.1
idna==2.10
incremental==17.5.0
iniconfig==1.0.1
kiwisolver==1.2.0
matplotlib==3.3.2
MouseInfo==0.1.3
numpy==1.19.2
opencv-contrib-python==4.4.0.44
packaging==20.4
parsedatetime==2.6
Pillow==7.2.0
pipreqs==0.4.10
pluggy==0.13.1
py==1.9.0
PyAutoGUI==0.9.50
PyGetWindow==0.0.8
PyHamcrest==2.0.2
PyMsgBox==1.0.8
pyparsing==2.4.7
pyperclip==1.8.0
PyRect==0.1.4
PyScreeze==0.1.26
pytesseract==0.3.6
pytest==6.1.1
python-dateutil==2.8.1
PyTweening==1.0.3
requests==2.24.0
robotframework==3.2.2
six==1.15.0
toml==0.10.1
Twisted==20.3.0
urllib3==1.25.11
vncdotool==1.0.0
wait-for==1.1.4
waiting==1.4.1
yarg==0.1.9
zope.interface==5.1.0
